apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: app-gamma
  labels:
      app: app-gamma
spec:
  selector:
    matchLabels:
      run: app-gamma
  replicas: 2
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        run: app-gamma
    spec:
      containers:
      - name: app-gamma-green
        image: fischerjulian/smpl-go-web:green
        ports:
            - containerPort: 8080