.as-oil {
  --cc-banner-text-color: var(--white);
  --cc-banner-accept-bg: var(--a9s-orange);
  --cc-banner-accept-color: var(--white);
  --cc-banner-btn-bg: transparent;
  --cc-banner-btn-color: var(--a9s-orange);
  --cc-banner-bg: var(--a9s-blue-dark-03);
  --cc-banner-link-color: var(--a9s-blue-light-02);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .65);
  pointer-events: none;
}

.as-oil .as-oil-content-overlay {
  pointer-events: all;
  font-family: var(--a9s-font-family-base);
  font-size: var(--a9s-font-size-base);
  line-height: var(--a9s-line-height-base);
  color: var(--a9s-text-color);
}

.as-oil .as-oil__heading {
  padding-bottom: 1rem;
}

.as-oil .as-oil__btn-optin,
.as-oil .as-oil__btn-blue {
  background-color: var(--cc-banner-accept-bg);
  color: var(--cc-banner-accept-color);
}

.as-oil .as-oil__btn-optin:hover,
.as-oil .as-oil__btn-blue:hover {
  background-color: var(--a9s-orange-light-01);
}

.as-oil .as-oil-back-button {
  color: var(--a9s-text-muted-color);
  border: 1px solid var(--a9s-separator-color);
  box-shadow: none;
}

.as-oil .as-oil-back-button:hover {
  color: var(--white);
}

.as-oil .as-js-advanced-settings {
  color: var(--a9s-text-muted-color);
  box-shadow: none;
  border-bottom: 0;
}
